body {
    font-family: 'Times New Roman';
}

.alogo {
    width: 250px;
    height: 55px;
    padding-left: 70px;
}

.divform {
    border-radius: 8px;
    background-color: white;
    padding-top: 30px;
    height: 750px;
    width: 750px;
}

.sectionForm {
    padding-top: 50px;
    padding-left: 40%;
}

.form {
    margin-top: 0%;
    padding: 40px 50px;
    padding-top: 40px;
}

input[type=text], input[type=password], select {
    font-size: 12pt;
    height: 15px;
    padding: 12px 2px;
    margin: 8px 0;
    display: block;
    font-weight: 500;
}

input[type=submit] {
    padding-top: 100px;
    font-size: 14pt;
    height: 35px;
    width: 300px;
    background-color: #ff4d00;
    color: white;
    padding: 0px;
    margin: 0px 0px;
    border: none;
    border-radius: 6px;
}

input[type=submit]:hover {
    background-color: #524667;
    cursor: pointer;
}

.invalidLoginMessage {
    padding-left: 20px;
    color: red;
    font-size: 12px;
    text-align: center;
}

.user-input-wrp {
    position: relative;
    width: 50%;
    font-size: 12pt;
    font-weight: 500;
}

.user-input-wrp .inputText {
    width: 300px;
    outline: none;
    border: none;
    border-bottom: 1px solid #777;
    box-shadow: none !important;
    background-color: white;
}

.user-input-wrp .inputText:focus {
    border-color: #1eadc8;
    border-width: medium medium 2px;
}

.user-input-wrp .floating-label {
    position: absolute;
    pointer-events: none;
    top: 28px;
    left: 2px;
    padding-top: 2px;
    transition: 0.2s ease all;
}

.user-input-wrp input:focus ~ .floating-label {
    top: 0px;
    left: 2px;
    font-size: 12px;
    opacity: 1;
    color: #1eadc8;
    font-weight: 500;
}

.user-input-wrp input:not(:focus):valid ~ .floating-label {
    top: 0px;
    left: 2px;
    font-size: 12px;
    opacity: 1;
    color: black;
    font-weight: 400;
}

.welcom-label {
    color: #1eadc8;
    font-size: 18px;
    padding-left: 120px;
}

.login-user-label {
    font-size: 12px;
}

.form-check-label {
    padding-left: 5px;
}